<hr>
<div id="<%= dom_id article %>">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
    <% if article.user === current_user %>
      <small><strong>[MINE]</strong></small>
    <% end %>
  </p>

  <% if article.private && (article.user != current_user) %>
    <p>Private article ¯\_(ツ)_/¯ !</p>
  <% else %>

    <p>
      <strong>Updated at:</strong>
      <%= article.updated_at %>
    </p>

    <p>
      <strong>Content:</strong>
      <%= article.content %>
    </p>

    <p>
      <strong>Author:</strong>
      <%= article.user.email %>
    </p>

    <p>
      <strong>Private:</strong>
      <%= article.private %> 
    </p>
  <% end %>

  <p>
    <strong>Comments:</strong>
    <%= link_to "New comment", new_comment_path %>
    <ul>
      <% article.comments.each do |comment| %>
        <li>
          <%= comment.content %> <small><strong>[by <%= comment.user.email %>]</strong></small> 
        </li>
      <% end %>
    </ul>
  </p>

</div>

